@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
    background: #52A0BD;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem sans-serif; /* 16px */
    margin: 0;
    color: var(--default-color);
    background-color: var(--body-color);
    letter-spacing: .1rem;
    line-height: 1.6;
    
}

input[type="submit"]{
    border: 0;
    background: none;
    font-size: inherit;
}

.material-symbols-outlined{
    vertical-align: middle;
}
img{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    font-weight: none;
    list-style: none;
    
}
/* pour chrome */
body::-webkit-scrollbar {
    width: .8rem;
}

body::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
background-color: rgb(33, 32, 32);
outline: 1px solid rgb(83, 84, 84);
}
/* Thème */
:root{
    --color-default: rgba(61, 56, 56, 0.5); /* 64 */
    --color-link: #4b4b4b; /* 8 bit */
    --color-body: #fafafafa;
    --header-color: #005A78;
    --main-color: rgb(255, 255, 255);
    --color-list: #2C3E50;
}
main{
    background-color: var(--main-color);
    max-width: 85rem;
    margin: 0 auto;
    padding: 0.8rem;
}
header {
    text-align: center;
    color: var(--color-body);
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: var(--header-color);
    font-family: Lobster ;
}
h2 {
    margin: 2rem;
    color: var(--header-color);
    font-family: Lobster;
    font-size: xx-large;
}
#description-title{
    text-align: center;
    margin: 1rem;
}
li{
    background-color: var(--color-list);
    margin-top: .3rem;
    margin-bottom: .3rem;
    max-width: 85rem;
    font-size: 2rem;
    padding: .8rem;
    color: var(--main-color);
}
#partie4{
    background-color: var(--main-color);
    max-width: 85rem;
    margin: 1rem auto;
    padding: 0.8rem;
}
input[type="submit"]{
    margin: 2rem;
    margin-left: 4rem;
    padding: 2rem;
    cursor: crosshair;
    width: 25%;
    align-self: center;

}
input[value="Rechercher"]{
    background-color: rgb(2, 120, 199);
    border-radius: .4rem;
    border-color: #000000;
    border-width: 5rem;
}
input[value="Vider le panier"]{
    background-color: rgb(163, 4, 4);
    border-radius: .4rem;
    border-color: #000000;
    border-width: 5rem;
    text-transform: uppercase;
}
input[value="Ajouter au Panier"]{
    background-color: rgb(1, 119, 1);
    border-radius: .4rem;
    border-color: #000000;
    border-width: 5rem;
    text-transform: uppercase;
}

footer{
    text-align: center;
    background-color: var(--color-list);
    max-width: 85rem;
    margin: 0 auto;
    padding: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--main-color);
    font-size: 2rem;
}
